<div class="sobre-container">
    <img src="/assets/photo01.jpg" alt="photo" class="foto">
    <div class="sobre-text">
        <h2>Sobre Mim</h2>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam obcaecati voluptas perferendis tempore quaerat alias totam pariatur suscipit nisi quia. Consectetur quibusdam magnam esse nulla placeat laborum reiciendis officiis sequi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita illum earum fugit molestiae magnam corrupti officiis, provident nemo, amet commodi impedit natus vero neque vitae at aspernatur laboriosam, debitis autem?
        </p> 
        
    </div>
</div>