<div class="sobre-container">
    <img src="/assets/photo01.jpg" alt="Minha Foto" class="foto">
    <div class="sobre-text">
        <h2>Sobre Mim</h2>
        <!-- sobre.component.html -->
        <p>
            Olá, meu nome é {{ nome }} e tenho uma facilidade natural para aprender sobre informática. Concluí um curso
            técnico em informática pelo Senac RJ, que foi uma experiência muito enriquecedora para mim. Durante o curso,
            adquiri conhecimentos variados que despertaram ainda mais meu interesse pela área.
            <br><br>
            Para mim, programar é uma atividade extremamente satisfatória. Ao escrever código, não apenas desenvolvo
            habilidades técnicas, mas também estimulo minha criatividade e capacidade de resolver problemas. Cada
            projeto que desenvolvo me proporciona uma oportunidade única de aprendizado e me motiva a continuar
            explorando novas tecnologias e desafios.
        </p>

    </div>
</div>