.sobre-container {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 30px;
}

.foto-wrapper {
    position: relative;
    display: inline-block;
}

@keyframes changeProperties {
    0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    10% {
        border-radius: 35% 82% 73% 61% / 25% 43% 58% 49%;
    }

    20% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    30% {
        border-radius: 19% 57% 38% 94% / 48% 52% 80% 37%;
    }

    40% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    50% {
        border-radius: 36% 90% 20% 80% / 40% 60% 30% 70%; /* Forma mais deformada */
    }

    60% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    70% {
        border-radius: 33% 68% 91% 41% / 63% 49% 75% 34%;
    }

    80% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    90% {
        border-radius: 26% 62% 31% 42% / 9% 31% 38% 4%; /* Forma mais deformada */
    }

    100% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }
}





.foto {
    width: 250px;
    /* Adiciona uma borda inicial */
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
    animation: changeProperties 20s infinite alternate ease-in-out;
    /* Aplica a animação */
}



.sobre-text {
    padding: 20px;
}

p {
    text-align: justify;
}