.carousel {
    margin: 20px;
  
    .grid-container {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 20px;
    }
  
    .slide {
      padding: 10px;
  
      a {
        text-decoration: none;
        color: inherit;
      }
  
      mat-card {
        width: 100%;
        transition: transform 0.2s;
      }
  
      mat-card:hover {
        transform: scale(1.05);
      }
  
      img {
        max-height: 200px;
        object-fit: cover;
      }
    }
  }
  